input{
	margin-top: 10px;
	outline: none;
	font-size: 12px;
	text-align: center;
}

input[type="text"],input[type="password"]{
	width: 200px;
	padding: 5px;
	background-color: whitesmoke;
	color: grey;
	border: none;
	border-bottom: 2px solid black;
	transition-duration: 0.8s;
}
input[type="text"]:focus,input[type="password"]:focus{
	color: #3080C0;
	border-bottom: 2px solid #3080C0;
}
[type="submit"],[type="button"]{
	color: #3080C0;
	background-color: whitesmoke;
	border: 2px solid #3080C0;
	padding: 5px 50px;
	margin-top: 10px;
	transition-duration: 0.4s;
}
[type="submit"]:hover,[type="button"]:hover{
	color: whitesmoke;
	background-color: #3080C0;
}

input[type="date"]{
	padding: 5px;
	background-color: whitesmoke;
	border: none;
	border-bottom: 2px solid grey;
}

input[type="date"]:focus{
	border-bottom: 2px solid #3080C0;
}

select{
	text-align: center;
	margin: 10px;
	padding: 5px;
	outline: none;
	font-size: 14px;
	color: gray;
	background: whitesmoke;
	min-width: 200px;
	max-width: 200px;
	border: none;
	border-bottom: 2px solid black;
	transition-duration: 0.5s;
}

select:focus{
	color: #3080C0;
	border-bottom: 2px solid #3080C0;
}
option{
	margin-top: 15px;
	padding: 5px;
	outline: none;
	font-size: 14px;
	color: black;
	background: none;
	min-width: 200px;
	max-width: 200px;
	border-bottom: 2px solid gray ;
}

fieldset{
	padding-bottom: 15px;
}
legend{
	font-size: 15px;
}


.btnGreen{
	padding: 6px 12px;
	color: #417700;
	background-color: whitesmoke;
	border: 2px solid #417700;
	transition-duration: 0.4s;
}
.btnGreen:hover{
	color: whitesmoke;
	background-color:#417700;
}

.btnRed{
	padding: 6px 12px;
	color: #c03030;
	background-color: whitesmoke;
	border: 2px solid #C03030;
	transition-duration: 0.4s;
}
.btnRed:hover{
	color: whitesmoke;
	background-color:#C03030;
}

.btnYellow{
	padding: 6px 12px;
	color: #C0C000;
	background-color: whitesmoke;
	border: 2px solid #C0C000;
	transition-duration: 0.4s;
}
.btnYellow:hover{
	color: whitesmoke;
	background-color:#C0c000;
}

.saveCloseBtnContainer{
	margin-top: 20px;
	text-align: right;
}


/*


/*
.form1{
	outline:none;
	font-size: 14px;
	text-align: center;
    border: none;
}

.form1[type="text"]{
	padding-top: 5px;
    border-bottom: 2px solid black;
    transition-duration: 1s;
}
.form1[type="text"]:focus{
	color: #417700;
	border-bottom: 2px solid #417700;
}


.datos{
	font-size: 12px;	
}




.btnRed{
	color: #C03030;
	border: 2px solid #C03030;
}
.btnRed:hover{
	color: white;
	background-color:#C03030;
}



*/