#userDiv{ /*Div de cierre de Sesion y configuración de Usuarios*/
	position: absolute;
	right: 0px;
	color: white;
    background-color: rgba(0,0,0, 0.8);
    padding: 10px;
	text-align: center;
	width: 20%;
	display: none;	
}

.modalPanel{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(144,148,150, 0.8);
	display: none;
	justify-content: center;
	align-items: center;
}

.modalInnerPanel{
	width: 100%;
	background-color: whitesmoke;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
}

#formEditUser{max-width: 300px;}
#formAddTrans{max-width: 500px;}
#formEditTrans{max-width: 500px;}
#formAddUnit{max-width: 500px;}
#formEditUnit{max-width: 500px;}
#formAddOperator{max-width: 500px;}
#formEditOperator{max-width: 500px;}
#formAddCorp{max-width: 600px;}
#formEditCorp{max-width: 600px;}
#formAddClient{max-width: 700px;}
#formEditClient{max-width: 700px;}



