*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

div{
	font-family:Arial, Helvetica, sans-serif;
}
.rowcnt::after {
	content: "";
	clear: both;
	display: table;
}

[class*="col-"]{
    padding: 5px;
	border: 0px solid red;
	float: left;
}
[class*="col2-"]{
	float: left;
	padding: 10px;
	border: 0px solid green;
}

.logo{
	background-image: url("../../IMG/Logo_Corsi.png");
	background-position: center;
	background-size:contain;
	background-repeat: no-repeat;
    height: 60px;
    padding: 5px;
}
.formatCode{
    font-weight: bold;
    font-size: 14px;
}

    .col-1 {width: 8%;float: left;}
	.col-2 {width: 16%;float: left;}
	.col-3 {width: 25%;float: left;}
	.col-4 {width: 32.3%;float: left;}
	.col-5 {width: 41%;float: left;}
	.col-6 {width: 50%;float: left;}
	.col-7 {width: 58%;float: left;}
	.col-8 {width: 66%;float: left;}
	.col-9 {width: 75%;float: left}
	.col-10 {width: 83%;float: left;}
	.col-11 {width: 91%;float: left;}
	.col-12 {width: 100%;float: left;}
	
																	
	.col2-1 {box-sizing: border-box;width:	4%;float: left;padding-top: 4px;}
	.col2-2 {box-sizing: border-box;width: 8%;float: left;padding-top: 4px;}
	.col2-3 {box-sizing: border-box;width: 12%;float: left;padding-top: 4px;}
	.col2-4 {box-sizing: border-box;width: 16%;float: left;padding-top: 4px;}
	.col2-5 {box-sizing: border-box;width: 20%;float: left;padding-top: 4px;}
	.col2-6 {box-sizing: border-box;width: 24%;float: left;padding-top: 4px;}
	.col2-7 {box-sizing: border-box;width: 28%;float: left;padding-top: 4px;}
	.col2-8 {box-sizing: border-box;width: 32%;float: left;padding-top: 4px;}
	.col2-9 {box-sizing: border-box;width: 36%;float: left;padding-top: 4px;}
	.col2-10 {box-sizing: border-box;width: 40%;float: left;padding-top: 4px;}
	.col2-11 {box-sizing: border-box;width: 44%;float: left;padding-top: 4px;}
	.col2-12 {box-sizing: border-box;width: 48%;float: left;padding-top: 4px;}
	.col2-13 {box-sizing: border-box;width: 52%;float: left;padding-top: 4px;}
	.col2-14 {box-sizing: border-box;width: 56%;float: left;padding-top: 4px;}
	.col2-15 {box-sizing: border-box;width: 60%;float: left;padding-top: 4px;}
	.col2-16 {box-sizing: border-box;width: 64%;float: left;padding-top: 4px;}
	.col2-17 {box-sizing: border-box;width: 68%;float: left;padding-top: 4px;}
	.col2-18 {box-sizing: border-box;width: 72%;float: left;padding-top: 4px;}
	.col2-19 {box-sizing: border-box;width: 76%;float: left;padding-top: 4px;}
	.col2-20 {box-sizing: border-box;width: 80%;float: left;padding-top: 4px;}
	.col2-21 {box-sizing: border-box;width: 84%;float: left;padding-top: 4px;}
	.col2-22 {box-sizing: border-box;width: 88%;float: left;padding-top: 4px;}
	.col2-23 {box-sizing: border-box;width: 92%;float: left;padding-top: 4px;}
	.col2-24 {box-sizing: border-box;width: 96%;float: left;padding-top: 4px;}

/*B;float: left;orders*/

.l{
	float:left;
	border-left: 1px solid black;
	padding-top: 4px;
}
.r{float:left;border-right: 1px solid black;padding-top: 4px;}
.b{float:left;border-bottom: 1px solid black;padding-top: 4px;}
.t{float:left;border-top: 1px solid black;padding-top: 4px;}

.rota{
	transform: rotate(90deg);
	color:red;
}