.consecutivoOS{
    text-align: left;
    font-size: 14px;
    font-weight: bold;  
}

.askDate{
    text-align: right;
    font-size: 14px;
}
.gatherDate{
    text-align: right;
    font-size: 14px;
}

#transportInMan{
    min-width: 300px;
    max-width: 300px;
}
#operatorMan{
    min-width: 300px;
    max-width: 300px;
}
#unitMan1,#unitMan2{
    min-width: 300px;
    max-width: 300px;
}


/*Style for PDF Generator in Manifiestos*/
