#showNuevo{
	padding: 10px;
	text-align: center;
}

#razonSocialE, #razonSocial{
	width: 300px;
	margin-bottom: 10px;
}

#calleE, #calle{
	width: 250px;
	
}
#nExt,#nInt,#nExtE,#nIntE{
	width: 60px;
}

#marca,#marcaE{width: 300px;}
#placas,#placasE{width: 100px;}
#tipo,#tipoE{min-width: 200px;}
#sctUnit,#sctUnitE{width: 200px;}
#transSel,#transSelE{min-width: 400px;}
#semarnatUnit,#semarnatUnitE,#noPoliza,#noPolizaE{width: 250px;}
#manejoEspecial,#manejoEspecialE{width:350px;}